.pablo-screen .asociationCard-container {
  display: flex;
  flex-direction: column;
  margin: 5%;
  max-height: 140px;
  max-width: 200px;
  gap: 6px;
  flex-direction: column;
  padding: 24px 24px;
  border-radius: 20px;
  background-color: var(--white);
}

.pablo-screen .title {
  display: flex;
  text-align: center;
  color: var(--text-dark);
}

.pablo-screen .title-container {
  display: flex;
  justify-content: space-around;
}

.pablo-screen .subtitle{
  display: flex;
  text-align: center;
  color: var(--text-light);
}

.pablo-screen .subtitle-container {
  display: flex;
  justify-content: space-around;
}

.pablo-screen .photo-container {
  display: flex;
  justify-content: space-around;
}
