.lateral-menu {
  height: 100%;
  flex: 0.2;
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.app-logo {
  padding: 28px 0px;
  display: flex;
  flex: 0.1;
  align-items: center;
  justify-content: center;
}

.lateral-menu ul {
  list-style: none;
  padding: 0;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  flex: 0.9
}

.lateral-menu li {
  text-decoration: none;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 50px 0px 0px 50px;
  overflow: hidden;
}

.lateral-menu li .route-link {
  padding: 0px 35px;
  display: flex;
  gap:45px;
  flex: 1;
  align-items: center;
  color: var(--text-light);
  cursor: pointer;
  text-decoration: none;
  height: 80px;
}

.lateral-menu li:hover .route-link {
  color: var(--white);
}

.lateral-menu .icon {
  font-size: 28;
  color: var(--text-light);
}

.lateral-menu  li:hover .icon {
  color: var(--white);
}

.lateral-menu .active {
  background-color: var(--background);
}

.lateral-menu .active .route-link {
  color: var(--primary);
}

.lateral-menu .active .icon {
  color: var(--primary);
}

.lateral-menu .active:hover .route-link,
.lateral-menu .active:hover .icon {
  color: var(--primary);
}