.lateral-menu {
  height: 100%;
  flex: 0.2;
  color: var(--white);
}

.lateral-menu ul {
  list-style: none;
  padding: 0;
}

.lateral-menu li {
  text-decoration: none;
}

.lateral-menu li .route-link {
  color: var(--text-light);
  cursor: pointer;
  text-decoration: none;
}

.lateral-menu li:hover .route-link {
  color: var(--white);
}
