:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

:root {
  --primary: #40189d;
  --secondary: #e9e0ff;
  --background: #f2f2f2;
  --white: #ffffff;
  --gray-dark: #959595;
  --gray-light: #d8d8d8;
  --black: #000000;
  --text-dark: #555555;
  --text-light: #797979;
  --aqua: #1bd084;
  --green: #8bc740;
  --blue: #48a9f8;
  --purple: #4e36e2;
}

@font-face {
  font-family: "Poppins-black";
  src: local("Poppins-black"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-900-normal.woff2")
      format("woff2"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-900-normal.woff")
      format("woff"),
    url("./assets/fonts/poppins/ttf/poppins-latin-900-normal.ttf")
      format("truetype");
}
@font-face {
  font-family: "Poppins-extraBold";
  src: local("Poppins-extraBold"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-800-normal.woff2")
      format("woff2"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-800-normal.woff")
      format("woff"),
    url("./assets/fonts/poppins/ttf/poppins-latin-800-normal.ttf")
      format("truetype");
}
@font-face {
  font-family: "Poppins-bold";
  src: local("Poppins-bold"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-700-normal.woff2")
      format("woff2"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-700-normal.woff")
      format("woff"),
    url("./assets/fonts/poppins/ttf/poppins-latin-700-normal.ttf")
      format("truetype");
}
@font-face {
  font-family: "Poppins-semibold";
  src: local("Poppins-semibold"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-600-normal.woff2")
      format("woff2"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-600-normal.woff")
      format("woff"),
    url("./assets/fonts/poppins/ttf/poppins-latin-600-normal.ttf")
      format("truetype");
}
@font-face {
  font-family: "Poppins-medium";
  src: local("Poppins-medium"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-500-normal.woff2")
      format("woff2"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-500-normal.woff")
      format("woff"),
    url("./assets/fonts/poppins/ttf/poppins-latin-500-normal.ttf")
      format("truetype");
}
@font-face {
  font-family: "Poppins-regular";
  src: local("Poppins-regular"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-400-normal.woff2")
      format("woff2"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-400-normal.woff")
      format("woff"),
    url("./assets/fonts/poppins/ttf/poppins-latin-400-normal.ttf")
      format("truetype");
}
@font-face {
  font-family: "Poppins-light";
  src: local("Poppins-light"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-300-normal.woff2")
      format("woff2"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-300-normal.woff")
      format("woff"),
    url("./assets/fonts/poppins/ttf/poppins-latin-300-normal.ttf")
      format("truetype");
}
@font-face {
  font-family: "Poppins-extraLight";
  src: local("Poppins-extraLight"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-200-normal.woff2")
      format("woff2"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-200-normal.woff")
      format("woff"),
    url("./assets/fonts/poppins/ttf/poppins-latin-200-normal.ttf")
      format("truetype");
}
@font-face {
  font-family: "Poppins-thin";
  src: local("Poppins-thin"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-100-normal.woff2")
      format("woff2"),
    url("./assets/fonts/poppins/webfonts/poppins-latin-100-normal.woff")
      format("woff"),
    url("./assets/fonts/poppins/ttf/poppins-latin-100-normal.ttf")
      format("truetype");
}
/* Poppins-black (Weight: 900) */
/* Poppins-extraBold (Weight: 800) */
/* Poppins-bold (Weight: 700) */
/* Poppins-semibold (Weight: 600) */
/* Poppins-medium (Weight: 500) */
/* Poppins-regular (Weight: 400) */
/* Poppins-light (Weight: 300) */
/* Poppins-extraLight (Weight: 200) */
/* Poppins-thin (Weight: 100) */
/*H1: 2.25em (about 36px when the base font size is 16px)*/
/*H2: 1.75em (about 28px when the base font size is 16px)*/
/*H3: 1.5em (about 24px when the base font size is 16px)*/
/*H4: 1.25em (about 20px when the base font size is 16px)*/
/*H5: 1.125em (about 18px when the base font size is 16px)*/
/*H6: 1em (about 16px when the base font size is 16px)*/

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
h1 { font-size: 36px}
h2 { font-size: 28px}
h3 {font-size: 24px}
h4 { font-size: 20px}
h5 { font-size: 18px}
h6 { font-size: 16px}
.black {
  font-family: "Poppins-black";
}
.extra-bold {
  font-family: "Poppins-extraBold";
}
.bold {
  font-family: "Poppins-bold";
}
.semibold {
  font-family: "Poppins-semibold";
}
.medium {
  font-family: "Poppins-medium";
}
.regular {
  font-family: "Poppins-regular";
}
.light {
  font-family: "Poppins-light";
}
.extra-light {
  font-family: "Poppins-extraLight";
}
.thin {
  font-family: "Poppins-thin";
}

/* Delete default style from browser */
body {
  margin: 0;
}

/* Scroll without style
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
*/
/* Hide the default scrollbar */

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {

  border-radius: 50px;
  background-color: var(--primary);
}



