.menu-header {
 display: flex;
 flex-direction: row;
 align-items: center;
 height: 120px;
 padding: 0px 72px 0px 50px;
}

.menu-header .icon {
    font-size: 30px;
}

.menu-header .icon-and-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px
}
