.menu-header {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 min-height: 120px;
 padding: 0px 72px 0px 50px;
}

.menu-header .icon-and-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px
}

.menu-header .icon {
    font-size: 30px;
}

.menu-header .buttons {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.menu-header .buttons-and-profile {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 70px;
}
