.menu-screen {
  display: flex;
  height: 100vh;
  background-color: var(primary);
}

.menu-screen .main-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.menu-screen .content-container {
  display: flex;
  border-radius: 38px 0 0 38px;
  flex: 1;
  flex-direction: column;
  background-color: var(--background);
  overflow: hidden;
}

.menu-screen .content-container .content{
  flex: 1;  
  margin: 50px;
}