.notification-button {
    display: flex;
}

.notification-button:hover .notification-badge  {
   background-color: var(--secondary);
   color: var(--primary);
   transition: 0.5s;
   box-shadow:0px 3px 6px var(--secondary);
}

.notification-button .icon-text-button {
    position: relative;
    gap: 0px;
    width: 56px;
    height: 56px;
    background-color: var(--white);
    color: var(--text-dark);
    box-shadow: none;
}

.notification-button .icon-text-button:hover {
    border: none;
    background-color: var(--primary);
    
}

.notification-button .notification-badge {
    z-index: 1;
    margin-left: 35px;
    margin-top: -8px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);

    font-size: 14px;
    background-color: var(--primary);
    border-radius: 50px;
    width: 26px;
    height: 26px;
    box-shadow:0px 3px 6px var(--primary);
}