.totals-data-card {
    width: 300px;
    min-height: 120px;
    background-color: var(--gray-light);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    gap: 12px;
}

.totals-data-card .icon {
    font-size: 40px;
    color: var(--white)
}

.totals-data-card .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    min-height: 70px;
    border: 1px solid var(--white);
    border-radius: 15px;
}

.totals-data-card .title-and-total h5, h1 {
 text-align: right;
 color: var(--white)
}

