.screen {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: var(primary);
}

.login-container {
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 33%;
  height: 60%;
  padding: 26px;
  border-radius: 38px;
  background-color: var(--white);
}
