.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(primary);
}

.login-container {
  display: flex;
  margin: 5%;
  max-height: 80%;
  min-width: 40%;
  gap: 30px;
  flex-direction: column;
  overflow-y: scroll;
  padding: 16px;
  border-radius: 38px;
  background-color: var(--white);
}

.title-container {
  display: flex;
  justify-content: space-around;
}

.title {
  display: flex;
  text-align: center;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
}
