.login-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(primary);
}

.login-container {
  display: flex;
  margin: 5%;
  max-height: 80%;
  min-width: 40%;
  gap: 12px;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 40px;
  border-radius: 38px;
  background-color: var(--white);
  box-shadow: 0px 0px 16px var(--black); 
  transition: 2s; 
}

.login-container:hover {
  box-shadow: 0px 0px 16px var(--white); 
  transition: 2s; 
}

.title-container {
  display: flex;
  justify-content: space-around;
}

.title {
  display: flex;
  text-align: center;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
}
