.profile-screen {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.profile-screen .total-cards-container {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
}

.profile-screen .event-cards-container {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex: 1;
  overflow-x: auto;
}


.profile-screen .total-cards-container .card-1 {
  background-color: var(--purple);
}
.profile-screen .total-cards-container .card-2 {
  background-color: var(--blue);
}
.profile-screen .total-cards-container .card-3 {
  background-color: var(--aqua);
}
.profile-screen .total-cards-container .card-4 {
  background-color: var(--green);
}
