.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group label {
  text-align: left;
  color: var(--text-dark);
  text-transform: capitalize;
}

.form-group input {
  font-size: 18px;
  border: none;
  padding: 0;
  outline: none;
  background: transparent;
  flex: 1;
  color: var(--black);
  border-bottom: 1px solid var(--primary);
}

.form-group button {
  border: none;
  outline: none;
  background: transparent;
}

.form-group input::placeholder {
  color: var(--text-light);
}

.input-and-icon {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 29px;
  padding: 18px 24px;
  flex-direction: row;
}

.icon-and-input {
  display: flex;
  flex-wrap: wrap;
  padding: 18px 24px;
  gap: 29px;
  flex-direction: row;
  justify-content: space-around;
}

.form-group .icon {
  color: var(--primary);
  font-size: 24px;
  width: 24px;
}
